.block-content {
  text-align: center;
}

.carouselImg img {
  width: auto;
  height: 600px;
  max-height: 600px;
}

figcaption {
  text-align: center;
}

figure {
  float:left;
  margin: 10px;
}

h1 {
  text-align: center;
  margin: 0.67em;
}

#header-logo {
  background-image: url(images/bg_forest.jpg);
  background-repeat: no-repeat;
  display: block;
  text-decoration: none;
  color: black;
}

.header-message {
  height: 3em;
  margin: 15px;
}

img.gross {
  width: 460px;
}

img.mittel {
  width: 300px;
}

.information {
  text-align: center;
}

.page-header {
  margin: 0;
}

.panel-heading {
  font-weight: bold;
}

#schuldaten {
  display: table;
}
.schuldaten>tbody>tr>td:nth-child(odd) {
  text-align: right;
}

.schuldaten>tbody>tr>td:nth-child(even) {
  text-align: left;
}

#sidebar {
  background-image: url("images/haende.png");
  background-repeat:no-repeat;
  width: 18%;
  height: 100%;
  position:absolute;
}

.welcome {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
