h1 {
  text-align: center;
  margin: 0.67em;
}

.information {
  text-align: center;
}

.block-content {
  text-align: center;
}

.header {
  background-image: url(images/bg_forest.jpg);
  background-repeat: no-repeat;
}

.header-message {
  height: 3em;
  margin: 15px;
}

.page-header {
  margin: 0;
}

.panel-heading {
  font-weight: bold;
}

#schuldaten {
  display: table;
}
.schuldaten>tbody>tr>td:nth-child(odd) {
  text-align: right;
}

.schuldaten>tbody>tr>td:nth-child(even) {
  text-align: left;
}

figure {
  float:left;
  margin: 10px;
}

figcaption {
  text-align: center;
}

img.mittel {
  width: 300px;
}

img.gross {
  width: 460px;
}

.welcome {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
